[campaign]
deadline = "24h"
resource = "tiger3"
execution_schema = "remote"
requested_resources = 3359

[campaign.ml-mapmaking]
context = "file:///scratch/gpfs/SIMONSOBS/users/ip8725/tmp/latml/use_this_local.yaml"
area = "file:///scratch/gpfs/SIMONSOBS/so/science-readiness/footprint/v20250306//lat_iso/so_geometry_deep56_v20250306_lat_f090.fits"
preprocess_config = "file:///scratch/gpfs/SIMONSOBS/users/ip8725/tmp/latml/lat_config_mf.yaml"
srcsamp = "file:///scratch/gpfs/ACT/data/act_dr6/dr6.02/maps/published/srcsamp_mask.fits"
output_dir = "/scratch/gpfs/SIMONSOBS/users/ip8725/tmp/latml/output_full"
bands = "f090"
maxiter = "200,200"
downsample = "4,2"
query = "file:///scratch/gpfs/SIMONSOBS/users/ip8725/tmp/latml/lat_i1.txt"
tiled = 1
site = "so_lat"
unit = 'K'
interpol = 'nearest'
[campaign.ml-mapmaking.resources]
ranks = 70
threads = 8
memory = "4800000"  # in MBs
runtime = "7h" # in seconds
[campaign.ml-null-tests]
context = "file:///scratch/gpfs/SIMONSOBS/users/ip8725/tmp/latml/use_this_local.yaml"
area = "file:///scratch/gpfs/SIMONSOBS/so/science-readiness/footprint/v20250306//lat_iso/so_geometry_deep56_v20250306_lat_f090.fits"
preprocess_config = "file:///scratch/gpfs/SIMONSOBS/users/ip8725/tmp/latml/lat_config_mf.yaml"
srcsamp = "file:///scratch/gpfs/ACT/data/act_dr6/dr6.02/maps/published/srcsamp_mask.fits"
output_dir = "/scratch/gpfs/SIMONSOBS/users/ip8725/tmp/latml/output_full/null_tests"
bands = "f090"
maxiter = "200,200"
downsample = "4,2"
query = "file:///scratch/gpfs/SIMONSOBS/users/ip8725/tmp/latml/lat_i1.txt"
tiled = 1
site = "so_lat"
unit = 'K'
interpol = 'nearest'
[campaign.ml-null-tests.mission-tests]
chunk_nobs=10 # This is based on the start timestamp of the query. Always in days
nsplits=4 # Multiple of 2. We take the total duration, break it into chunk_durations and assign each chunk to a split randomly. Based on the null test, have a default assignment strategy.
[campaign.ml-null-tests.mission-tests.resources]
ranks = 35
threads = 8
memory = "2400000"  # in MBs
runtime = "4h" # in seconds
[campaign.ml-null-tests.wafer-tests]
chunk_nobs=10 # This is based on the start timestamp of the query. Always in days
nsplits=4 # Multiple of 2. We take the total duration, break it to chunk_durations and assign each chunk to a split randomly. Based on the null test have a default assignment strategy.
[campaign.ml-null-tests.wafer-tests.resources]
ranks = 12
threads = 8
memory = "80000"  # in MBs
runtime = "4h" # in seconds
[campaign.ml-null-tests.direction-tests]
chunk_nobs=10 # This is based on the start timestamp of the query. Always in days
nsplits=4 # Multiple of 2. We take the total duration, break it to chunk_durations and assign each chunk to a split randomly. Based on the null test have a default assignment strategy.
[campaign.ml-null-tests.direction-tests.resources]
ranks = 17
threads = 8
memory = "80000"  # in MBs
runtime = "4h" # in seconds
