name: Formatting
permissions:
  contents: read
  pull-requests: write

on: [push, pull_request]

jobs:
  lint:
    runs-on: ubuntu-latest
    steps:
      - uses: actions/checkout@v6
      - uses: astral-sh/ruff-action@v3
        with:
          src: "./src"
      - uses: isort/isort-action@master
        continue-on-error: true